/* external css: flickity.css */

body {
    font-family: sans-serif;
}

.gallery {
    background: #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gallery-cell {
    /* width: 66%; */
    height: 200px;
    margin-right: 10px;
    background: #8c8;
    counter-increment: gallery-cell;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    /*   content: counter(gallery-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* .cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    grid-gap: 24px;
}

.cards > ul > li {
    border: 1px solid #dadada;
    background-color: var(--background-color);
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
} */
